language: ruby
cache: bundler
sudo: required
dist: trusty
rvm: 2.3.1
before_script:
- sudo apt-get update
- sudo apt-get install awscli
- npm install -g gitbook-cli
script: gitbook build
branches:
  only:
  - master
  - "/^v\\d+\\./"
after_success:
- ./scripts/aws_credentials.sh
- aws s3 sync _book/ s3://resistsurvivethrive-com --delete --region us-west-2
notifications:
  email: false
  irc: false
env:
  global:
